---
layout: home
---

<header>
  {% include header.html %}
</header> 

<!--HOME-->
<div id="home">
  <div class="container">  
    <h1 class="aboveLine wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">Shipra Sinha</h1>
    <hr class="wow fadeInLeft" data-wow-duration="4s" data-wow-delay="1s">
    <h1 class="belowLine wow fadeIn" data-wow-duration="2s" data-wow-delay="0s">Web Designer</h1>
    <div class="blocks">
      <div class="row wow fadeIn abhi" data-wow-duration="4s" data-wow-delay="0s">
        <a href="#home"><div class="col-md-2"><i class="fa fa-home"></i></div></a>
        <a href="#about"><div class="col-md-2"><i class="fa fa-comment-o"></i></div></a>
        <a href="#skills"><div class="col-md-2"><i class="fa fa-list-ul"></i></div></a>
        <a href="#projects"><div class="col-md-2"><i class="fa fa-file-code-o"></i></div></a>
        <a href="#contact"><div class="col-md-2"><i class="fa fa-envelope-o"></i></div></a>
      </div>
    </div>
     <div class="header container-fluid wow fadeIn" data-wow-duration="4s" data-wow-delay="0s">
    <ul class="phrase">
      <li>Home</li>
      <li>About</li>
      <li>Skills</li>
      <li>Projects</li>
      <li>Contact</li>
    </ul>
  </div> 
  </div>
</div> 
<!--HOME end-->

<!--ABOUT-->
<div id="about" class="container-fluid">
  <div>
    <h1 class="wow slideInUp" data-wow-duration="2s" data-wow-delay="0s">About</h1>
    <div class="inside_about col-md-7 row class="caption wow slideInLeft" data-wow-duration="1s" data-wow-delay="1s"">
      <p class="wow slideInLeft data-wow-duration="6s" data-wow-delay="0s"">Hi, my name is Shipra Sinha and I am a digital creative designer in Abbotsford, BC. I specialize in brand, web, and user-experience design. I believe simplicity is the key to a great product.</p>
      <div class="scroll">
        <a href="#projects">Learn more</a>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <img src="../images/shipra.png">
  </div> 
</div>
<!--ABOUT ends-->

<!--SKILLS-->
<div id="skills">
  <div class="container">
    <h1 class="wow slideInUp" data-wow-duration="2s" data-wow-delay="0s">Skills</h1>
    <div class="insideSkills">
      <div class="row">
      <div class="icons col-xs-6 col-md-4">
         <img src="../images/html.png">
         <h3>HTML5</h3>
         <div class = "progress-mark">
          <div class = "progress">
            <div class="progress-bar wow slideInLeft" data-wow-duration="2s" data-wow-delay="0s" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:80%">
            </div> 
          </div>
        </div>
      </div>

      <div class="icons col-xs-6 col-md-4">
       <img src="../images/css.png">
       <h3>CSS3</h3>
       <div class = "progress-mark">
        <div class = "progress">
          <div class="progress-bar wow slideInLeft" data-wow-duration="2s" data-wow-delay="0s" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:75%">
          </div> 
        </div>
      </div>
    </div>

    <div class="icons col-xs-6 col-md-4">
     <img src="../images/ruby.png">
     <h3>Ruby</h3>
     <div class = "progress-mark">
      <div class = "progress">
        <div class="progress-bar wow slideInLeft" data-wow-duration="2s" data-wow-delay="0s" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:50%">
        </div> 
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="icons col-xs-6 col-md-4">
   <img src="../images/js.jpg">
   <h3>JavaScript &amp; JQuery</h3>
   <div class = "progress-mark">
    <div class = "progress">
      <div class="progress-bar wow slideInLeft" data-wow-duration="2s" data-wow-delay="0s" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:40%">
      </div> 
    </div>
  </div>
</div>

<div class="icons col-xs-6 col-md-4">
 <img src="../images/angular.png">
 <h3>Angular JS</h3>
 <div class = "progress-mark">
  <div class = "progress">
    <div class="progress-bar wow slideInLeft" data-wow-duration="2s" data-wow-delay="0s" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:55%">
    </div> 
  </div>
</div>
</div>

<div class="icons col-xs-6 col-md-4">
 <img src="../images/rails.png">
 <h3>Ruby on Rails</h3>
 <div class = "progress-mark">
  <div class = "progress">
    <div class="progress-bar wow slideInLeft" data-wow-duration="2s" data-wow-delay="0s" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:40%">
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--SKILLS ends-->

<!--PROJECTS-->
<div id="projects">
  <div class="container">
    <div class="inside-projects">
     <p class="top">A glimpse of what I've worked on</p>  
   </div>

   <section class="row">
     <div class="snapshot col-xs-4">
       <img src="../images/psd.png" alt="psd.png">
     </div>

     <div class="description col-xs-8">
       <h3>Photoshop Document to HTML</h3>
       <p class="bottom">In a PSD to HTML workflow, the Photoshop document represents the final site and it’s expected to look exactly the same in the browser. Photoshop is awesome for editing and exporting photographs for web usage. There’s also plenty of situations where it still might make sense to generate full detail mockups (in Photoshop, Illustrator, or otherwise) as part of a more complete process.</p>
       <a href="https://psd-shipra1509.c9.io/?_c9_id=livepreview0&_c9_host=https://ide.c9.io" target="_blank" class="demo">Demo</a>
       <a href="https://github.com/shipra1509/PSD" target="_blank" class="github">Github</a>
     </div>
     <hr>
   </section>
 </div>
</div>
<!--PROJECTS ends-->


<!--CONTACT-->
<div id="contact">
<div class="container">
  <hr class="sep">
  <div class="contact-form module">
    <form id="contact_i" class="contact" method="post" action="../mailer.php">
      <h2 class="wow slideInUp" data-wow-duration="2s" data-wow-delay="0s">GET IN TOUCH</h2>
      <div id="form-messages"></div>
      <input id="name" name="name" class="sep name" placeholder="Name" type="text" />
      <input id="email" name="email" class="sep email" type="email" placeholder="Email" /><br>
      <textarea id="comments" name="comments" class="comments" placeholder="Comments" class="" ></textarea><br>
      <button type="submit" class="button-submit">Submit</button>
    </form>
  </div>
  <hr class="sep">
  </div>
</div>
<!--CONTACT ends-->

<footer>
  {% include footer.html %}
</footer>

