<div class="footer container">
		<div class="row">
			<div class="contact-section col-xs-12 col-md-4">
				<h3>Contact</h3>
				<hr>
				
				<p>
					<i class="fa fa-envelope"></i> <a href="mailto:shipra.juet@gmail.com">shipra.juet@gmail.com</a><br>
				</p>
			</div>

			<div class="contact-section col-xs-12 col-md-4">
				<h3>Social Links</h3>
				<hr>
				<p>
					<a href="https://github.com/shipra1509" target="_blank"><i class="fa fa-github fa-2x"></i></a>
					<a href="https://in.linkedin.com/pub/shipra-sinha/79/349/5" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
					<a href="https://www.facebook.com/shipra1509" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
					<a href="https://twitter.com/Shipra_speaks" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
					<a href="https://plus.google.com/u/0/+ShipraSinha1509/posts" target="_blank"><i class="fa fa-google-plus fa-2x"></i></a>
				</p>
			</div>

			<div class="contact-section col-xs-12 col-md-4">
				<h3>Location</h3>
				<hr>
				<p class="location"><i class="fa fa-map-marker"></i>
					Greater Noida, India.<br/>
				</p>
			</div>
		</div>

		<div class="copyright">
			Copyright &copy; 2015 Shipra Sinha.
		</div>
	</div>





