
header{
	height: 7vh;
	width:100%;
	position: fixed;
	z-index: 100;
	background-color: rgba(0,0,0,0.1);

	.background {
		visibility: hidden;
		position: absolute;
		top: 0px;
		left:0px; bottom: 0px;
		right: 0px;
		transform: scale(0);
		transition: all 0.3s ease-out;
		padding-top: 2vh;
		text-decoration: none;
		margin-top: 0;
		text-align: center;
	}

	.header:hover .background {
		visibility: visible;
		display: block;
		transform: scale(1);
		top:0px;
	}

	.header:hover i {
		opacity: 0;
	}

	a i{
		text-decoration: none;
	}
	
	i{
		text-decoration: none;
		margin-left: 50%;
		color: black;
		padding-top: 2vh;
	}

	.scrollto:hover{
		text-decoration: none;
	}
	
	.scrollto{
		text-decoration: none;
		color: black;
		font-family: 'Poiret One', cursive;
		padding-right: 2em;
		transition: all 0.3s ease-in;
		font-weight: bold;
	}
	 a span{
 	text-decoration: none;
 }
}


body {

	#home{
		background-color : #ECDFBD;
		height : 100vh;

		.aboveLine{
			color : #FB6648;
			padding-top : 20vh;
			padding-left : 30vh;
			font-family: 'Poiret One', cursive;
			margin-bottom : 0;
			font-size : 4em;
		}

		.belowLine{
			color : #FB6648;
			padding-left : 90vh;
			font-family: 'Poiret One', cursive;
			font-size : 4em;
		}

		.row div{
			background-color: #FB6648;
			color: #ECDFBD;
			text-decoration: none;
			display: inline-block;
			padding: 30px 35px;
			font-size: 20px;
			margin: 15px 5px;
			width: 6em;
			transition: all 0.3s ease-in;
		}

		.phrase li{
			transition: scale(0);
			transition: all 0.5s ease-in-out;
			padding: 0 1em 0 0.8em;
			color: #FB6648;
			text-decoration: none;
			font-family: 'Poiret One', cursive;
			display: inline-block;
			font-size: 2em;
			font-weight: bold;
		}

		.row{
			padding-top: 10vh;
			padding-left: 40vh;
		}

		ul{
			text-align: center;
		}
		
		.row div:hover{
			background-color: #ECDFBD; 
			color: #FB6648;
		}

	}

	#about{
		background-color: #F0F1EE;
		width: 100%;
		height: 100vh;
		h1{
			padding-top: 5vh;
			padding-left: 45vh;
			font-family: left;
			font-weight: bold;
			color: black;
			font-family: 'Poiret One', cursive;
		}

		p{
			font-family: 'Poiret One', cursive;
			/* font-family: 'Stalemate', cursive; */
			text-align: center;
			padding-top: 5vh;
			font-size: 2em;
			color: white;
		}

		img{
			height: 80vh;
			width: 50%;
			float:right;
			margin-right:0;
			margin-bottom: 0;
			padding-bottom: 0;
			transition: all 0.3s ease-in;
		}

		i{
			padding-left: 50vh;
			text-decoration: none;
			color: black;
			transition-property: transform, -webkit-transform;
			transition-duration: .3s;
			transition-timing-function: ease;
			transition: all 0.3s ease-in;
		} 

		h2{
			color: black;
			font-family: 'Poiret One', cursive;
			text-align: center;
			font-weight: bold;
			visibility: hidden;
		}

		.scroll{
			margin-top: 10vh;
			margin-left: 25vh;
			width: 40vh;
			padding-left: 15vh;
		}

		.scroll h3{
			transition: all 0.3s ease-in;
		}

		a{
			text-decoration: none;
		}

		h3{
			text-decoration: none;
			color: white;
			border: solid;
			border-color: white;
			text-align: center;
			font-family: 'Poiret One', cursive;
		}

		h3:hover{
			text-decoration: none;
			background-color: rgba(0,0,0,0.2);
		}
		
		.inside_about{
			float:left;
			margin-top: 5vh;
			height: 65vh;
			background-color: #3C4344;
		}
	}

	#skills{
		background-color: #ECDFBD;
		width: 100%;
		height: 100vh;
		h1{
			padding-top: 10vh;
			font-family: 'Poiret One', cursive;
			text-align: center;
			font-weight: bold;
		}

		img{
			padding-top: 5vh;
			margin-left: 80px;
			height:17vh;
		}

		h3{
			font-family: 'Poiret One', cursive;
			text-align: center;
		}

		.icons{
			background-color: white;
			margin-right: 20px;
			width: 25%;
			margin-top: 20px;
			height: 25%;
		}

		.insideSkills{
			margin-left: 30vh;
		}

		.progress-bar{
			background-color: #FB6648;
		}

	}

	#projects{
		background-color: #E0AF00;
		height: 100vh;
		width:100%;

		img{
			padding-top: 0;
			height: 30vh;
			width: 40vh;
			margin-left: 5vh;
		}

		.inside-projects{
			height: 7vh;
			width: 70vh;
			margin-left: 33%;
			margin-top: 10vh;
			background-color: rgba(1,0,0,0.1);
		}

		.top{
			color: white;
			font-family: 'Poiret One', cursive;
			font-size: 2em;
			text-align: center;
			padding-bottom: 10vh;
		}

		.bottom{
			color: white;
			font-family: 'Poiret One', cursive;
			font-size: 1.2em;
			text-align: justify;
			font-weight: bold;
		}

		h3{
			font-family: 'Poiret One', cursive;
			padding-top: 0;
			font-weight: bold;
		}

		hr{
			color: black;
			margin-left: 50vh;
		}

		.demo{
			margin-left: 0vh;
		}

		.github{
			margin-left: 5vh;
		}

		a{
			text-decoration: none;
			color: #fff;
			font-family: 'Poiret One', cursive;
			border: 1px solid #6d6256;
			background-color: rgba(0,0,0,0.4);
			font-size: 1em;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-top: 2vh;
			height: 5vh;
			width: 20vh;
			padding-left: 1em;
			padding-right: 1em;
		}
a:hover{
	background-color: rgba(0,0,0,0.3);
	border-color: white;
	text-decoration: none;
}

		button:hover{
			opacity: 0.7;
		}

		.description{
			border-left: solid;
		}

		section{
			padding-top: 10vh;
		}
	}

	#contact{
		background-color: #515151;
		height: 100vh;
		width:100%;

		.sep{
			width: 50vh;
			margin-top: 10vh;
		}

		h2{
			font-family: 'Poiret One', cursive;
			color: white;
			margin-left: 80vh;
			margin-top: 7vh;
		}

		
		.name{
			margin-top: 7vh;
			margin-left: 55vh;
			padding-left: 2vh;
			width: 40vh;
			height:7vh;
			color: white;
			font-family: 'Poiret One', cursive;
			border: 1px solid #6d6256;
		}

		.email{
			margin-left: 3vh;
			margin-top: 7vh;
			padding-left: 2vh;
			width: 40vh;
			height:7vh;
			color: white;
			font-family: 'Poiret One', cursive;
			border: 1px solid #6d6256;
		}

		.comments{
			margin-left: 55vh;
			margin-top: 3vh;
			padding-left: 2vh;
			width: 84vh;
			height:30vh;
			color: white;
			font-family: 'Poiret One', cursive;
			border: 1px solid #6d6256;
		}


		#contact_i  ::-webkit-input-placeholder {
			font-family: 'Poiret One', cursive;
			color:white;
			font-size: 1.2em;
		}


#contact_i :-moz-placeholder { /* Firefox 18- */
	font-family: 'Poiret One', cursive;
	color:white;
	font-size: 1.2em;
}

#contact_i ::-moz-placeholder {  /* Firefox 19+ */
	font-family: 'Poiret One', cursive;
	color:white; 
	font-size: 1.2em;
}

#contact_i :-ms-input-placeholder {  
	font-family: 'Poiret One', cursive;
	color:white;
	font-size: 1.2em; 
}

input{
	background-color: rgba(0,0,0,0.4);
}

textarea{
	background-color: rgba(0,0,0,0.4);
}

button{
	color: #fff;
	font-family: 'Poiret One', cursive;
	border: 1px solid #6d6256;
	background-color: rgba(0,0,0,0.4);
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-left: 85vh;
	margin-top: 5vh;
	height: 5vh;
	width: 25vh;
}

button:hover{
	border-color: white;
	opacity: 0.7;
}

}
}

footer{
	background-color: rgba(255, 51, 51, 0.8);
	height: 45vh;
	width: 100%;

	a{
		text-decoration: none;
	}

	h3{
		color: white;
		text-align: center;
		font-family: 'Poiret One', cursive;
		font-weight: bold;
	}

	i{
		color: white;
		text-align: center;
	}

	p{
		text-decoration: none;
		color: white;
		font-family: 'Poiret One', cursive;
		text-align: center;
		font-weight: bold;
	}
.contact-section{
	margin-top: 10vh;
}
	p a{
		color: white;
		transition: all 0.3s ease-in;
	}

	p a:hover{
		text-decoration: none;
		color: white;
	}
	.copyright{
		text-align: center;
		color: white;
		margin-top: 3vh;
	}

	.fa{
		padding-right: 1em;
	}

	.fa-github:hover{
		color:black;
	}

	.fa-linkedin:hover{
		color: #0077B5;
	}

	.fa-facebook:hover{
		color: #3B5998;
	}

	.fa-twitter:hover{
		color: #2BA8DE;
	}

	.fa-google-plus:hover{
		color: #DD4B39;
	}

}


































